.col-centered{
    float: none;
    margin: 0 auto;
}

#main {
  height: 100vh;
  width:100%;
  background-image: linear-gradient(to right top, #8b1b96, #e0006c, #ff582f, #eca700, #a8eb12);
}

.newPuppyForm {
  background-color: white;
}

form {
  border-radius: 10px;
}
